/*.table-striped > thead > tr > th {
    background-color: #96858F;
}

.table-striped > tbody > tr:nth-child(2n + 1) > td{
    background-color: #9099A2;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #D5D5D5;
}*/
